@import "./utilities/variables";
@import "./utilities/extends";
@import "./layout/main";
/*reset*/
*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}


/*Estilos Navegador Principal*/
.navPrincipal{
@extend %blocksCentrados
}
body{
  font-family: none;
  background-color:$colorDefondoTarjetas;
  margin: 0;
  padding: 0;
  height: 320px;
  width: auto;
}

/*Estilos headings*/
h1 {
 @extend %flexComponentesVertical;
    color: rgb(56, 3, 3);
    font-size: 33px;
    width: 100%;
    height: 150%;
    background-color: rgb(241, 172, 106);   
}

h2{
 @extend %flexComponentesVertical;
}

h4{
font-size: 10px;
}

/*Mixins*/
@mixin headerImg($decoTexto,$ampliar,$separarBordes,$definirAltura){
  text-decoration:$decoTexto;
    width: $ampliar; 
    border-radius:$separarBordes;
    height:$definirAltura;

}

/* Estilos Anclas*/
a{
 @extend %blocksCentrados;
   text-decoration: none;  
   padding: 10px 20px;     
   margin: 5px;            
   background-color: $colorDeAnclas;  
   color:$colorBlanco;            
   border-radius: 5px;     
   font-size: 16px;        
   font-weight: bold;      
   transition: background-color 0.3s ease; 
}
 a:hover {
   background-color: rgb(232, 107, 34);  
 }
 /*Estilos imágenes general*/

header img{/*   @extend %flexComponentesVertical;
   text-decoration: none;
    width: 10rem; 
    border-radius: 10px;
    height: auto;
  
  */
@include headerImg(none,10rem ,10px ,auto );
}


/*Estilos Pie de Página*/
footer{
  background-color: rgb(242, 197, 160);

}